doctype html
html
  head
    script(src="https://unpkg.com/vue/dist/vue.js").
    script(src="https://unpkg.com/vue-resource@1.1.2/dist/vue-resource.min.js").
    script(src="/sizzle.min.js").
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
